$font-family-sans-serif: "Hillhead", "Ubuntu", "Trebuchet MS", Arial, sans-serif;

$border-width: 1px;
$enable-rounded: true;
$enable-shadows: true;
$enable-gradients: false;
$enable-responsive-font-sizes: false !default;

$alert-border-width: 1px;

$hillhead-card-br: #e1e6eb;
$hillhead-blue: #011451;
$hillhead-main: #003865;

$nav-tabs-border-color: $hillhead-card-br;
$nav-tabs-link-hover-border-color: $hillhead-card-br;

// Breadcrumbs
$breadcrumb-divider: "›";
$breadcrumb-divider-rtl: "‹";